{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href={% static "imagenes/Simbolo-transparente.png" %} />
    <link rel="stylesheet" href="{% static 'css/stylelandingpage.css' %}">
    <title>{% block title %}Mi Sitio{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Glamoure</h1>
        <nav>
            <a href="{% url 'home' %}">Inicio</a>
            <a href="{% url 'about' %}">Acerca de</a>
            <a href="{% url 'contact' %}">Contacto</a>
            <a href="{% url 'portfolio' %}">Portafolio</a>
            <a href="{% url 'index' %}">Nuestros Productos</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
        <section class="bienvenida">
            <div class="bienvenida-imagen">
                <a href="#">
                    <img src={% static "imagenes/señora.png" %} alt="Ropa Mujer">
                </a>
                <a href="#">
                    <img src={% static "imagenes/zapatos.avif" %} alt="Zapatos">
                </a>
                <a href="#">
                    <img src={% static "imagenes/principalhombre.png" %} alt="Ropa Hombre">
                </a>
            </div>
            <hr>
        </section>
    </main>
    <footer>
        <section class="derecha">
            <img src={% static "imagenes/Simbolo-transparente.png" %} alt="Logo de Glamoure">
        </section>
        <p>
            &copy; Todos los derechos reservados Glamoure 2025  
        </p>
    </footer>
</body>
</html>