:root {
    --fondo-gris: #25282a;
    --tono-dorado: #C0A76B;
    --tono-pastel: #fdf8e1;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
.dashboard-container, .login-container{
    max-width: 1000px;
    margin: 50px auto;
    background-color: var(--tono-pastel);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.login-container{
    width: 100%;
    max-width: 400px;
    padding: 30px;
}
h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin: 0;
}
.form-group {
    margin-bottom: 20px;
}
label {
    font-size: 14px;
    color: #555;
}
input[type="text"], input[type="password"], input[type="email"]{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
button{
    width: 100%;
    padding: 10px;
    background-color: var(--fondo-gris);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: var(--tono-dorado);
}
.error-message{
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
header h2{
    color: #333;
    font-size: 24px;
    margin: 0;
}
header .logout-button{
    background-color: #dc3545;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
header .logout-button:hover{
    background-color: #c82333;
}
.main-content{
    display: flex;
    justify-content: space-between;
}
.menu-column{
    width: 25%;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
}
.menu-column ul{
    list-style: none;
    padding: 0;
}
.menu-column li{
    margin: 15px 0;
}
.menu-column a{
    text-decoration: none;
    font-size: 18px;
    color: #007bff;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #007bff;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.menu-column a:hover{
    background-color: #007bff;
    color: white;
}
.content-column{
    width: 70%;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.content-column p{
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}
a{
    text-decoration: none;
    color: #007bff;
}
a:hover{
    color: #0056b3;
}
header .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}